Repository BinaryAnalysisPlatform/bap, pull requests merged in 2020-06, with the labels that each got.

#1143 fixes the `fgetc` stub and the `channel-input` primitive return type
  plugins/primus_lisp/lisp/stdio.lisp
  plugins/primus_lisp/primus_lisp_io.ml
  plugins/primus_symbolic_executor/lisp/symbolic-stdio.lisp
Labels: bug, lisp, primus

#1112 adds symbolizer based on radare2
  oasis/radare2
  opam/opam
  plugins/radare2/.merlin
  plugins/radare2/radare2_main.ml
Labels: changes-requested, radare2

#1128 fix rev16 instruction
  lib/arm/arm_lifter.ml
Labels: changes-requested

#1159 fixes several bugs introduced with the radare2 backend
  plugins/radare2/radare2_main.ml
Labels: bug, urgent
